<template>
<div>
  <h1>kDocSearch complex component (vue):</h1><br />
  <k-doc-search></k-doc-search>
</div>
</template>

<script>
import kDocSearch from "../component/kDocSearch.vue"

export default {
  components: {
    kDocSearch
  },
  data () {
    return {
    }
  },
}
</script>
