<template>
<div class="kDocSearch">
  <k-input placeholder="integrated in doc-search k-input"></k-input>
  <button>search</button>
</div>
</template>

<script>
import kInput from "k-input"

export default {
  name: "kDocSearch",
  components: {
    kInput
  },
  data () {
    return {
    }
  },
}
</script>

<style lang="sass" src="./kDocSearch.sass"></style>